body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.row {
  display: flex;
  flex-direction: row;
}

.section-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #0B9FFA;
  padding: 0;
  margin: 0;
}

.section-subtitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 50px;
  color: #171614;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.section-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #171614;
}

.list {
  padding: 0;
  margin: 0;
  margin-top: 38px;
  list-style-type: none;
}

.list li {
  padding-bottom: 20px;
  display: flex;
  line-height: 30px;
}

.list li::before {
  content: url("./assets/images/Vector.svg");
  margin-right: 23px;
}

.contact-button {
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  width: 148px;
  height: 52px;
  background: #0B9FFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0B9FFA !important;
  transition: all 0.2s ease-in-out;
}

.contact-button:hover {
  background: transparent;
}

@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 46px;
  }

  .section-title {
    font-size: 20px;
  }
}