.hardware-wrapper{
  width: 100%;
  background-color: #E0E0E0;
}

.hardware-content{
  position: relative;
  max-width: 1920px;
  margin: auto;
  padding: 100px 0;
}

.hardware-wrapper .hardware{
  display: flex;
  gap: 24px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 36px;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-40px);
  opacity: 0;
}

.hardware-wrapper .hardware.active{
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.8s ease-in-out, opacity 0.8s linear;
}

.hardware-wrapper .hardware-text{
  max-width: 870px;
}

.hardware-wrapper .icon-wrapper{
  background: #FFFFFF;
  padding: 9px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  margin: auto;
  margin-top: 32px;
}

.hardware-wrapper .icon-wrapper .icon-background{
  background: #0B9FFA;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  position: relative;
}

.hardware-wrapper .icon-wrapper .software{
  background:  #0B9FFA;
}

.hardware-wrapper .icon-wrapper .icon-background .icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hardware-wrapper .images{
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: -85px;
  width: 100%;
  height: 110%;
  display: none;
}

.hardware-wrapper .image-1{
  max-width: 363px;
  position: absolute;
  left: 1345px;
  border-radius: 67px;
}

.hardware-wrapper .image-2{
  position: absolute;
  left: 1630px;
  top: 535px;
  border-radius: 67px;
  max-height: 416px;
}

.hardware-wrapper .image-3{
  position: absolute;
  left: 1304px;
  top: 1166px;
  border-radius: 67px;
  max-width: 592px;
}

@media screen and (min-width: 768px) {
  .hardware-wrapper .hardware{
    flex-direction: row;
  }

  .hardware-wrapper .icon-wrapper{
    margin: 0;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hardware-wrapper .hardware{
    margin-left: 246px;
    justify-content: start;
  }
}

@media screen and (min-width: 1500px) {
  .hardware-wrapper .images{
    display: block;
  }
}