.partners-wrapper {
  background-color: black;
  height: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.partners-wrapper .partners-content {
  width: 100%;
  padding: 110px 0 129px 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1920px;  
  /* background: linear-gradient(to right, black 20%, rgba(0, 0, 0, 0.0)), linear-gradient(to left, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 99%),
        url("../assets/images/iStock_1166272744.png"); */

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/images/iStock_1166272744.png");
  background-repeat: no-repeat;
  background-position: right;

}

.partners-wrapper .partners-content p {
  margin: 0;
  padding: 0;
}

.partners-wrapper .partners-content .short-info {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  opacity: 0;
  transform: translateX(-40px);
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s linear 0.1s;
}

.partners-wrapper .partners-content.active .short-info {
  opacity: 1;
  transform: translateX(0);
}

.partners-wrapper .partners-content .title {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  color: #0B9FFA;
  margin: 32px 0;
  opacity: 0;
  transform: translateX(-40px);
  transition: transform 0.8s ease-in-out 0.4s, opacity 0.8s linear 0.4s;
}

.partners-wrapper .partners-content.active .title{
  opacity: 1;
  transform: translateX(0);
}

.partners-wrapper .partners-content .list-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 0;
  transform: translateX(-40px);
  transition: transform 0.8s ease-in-out 0.8s, opacity 0.8s linear 0.8s;
}

.partners-wrapper .partners-content.active .list-title{
  opacity: 1;
  transform: translateX(0);
}

.partners-wrapper .partners-content .list {
  margin-top: 13px !important;
}

.partners-wrapper .partners-content .list li {
  padding-bottom: 6px !important;
  opacity: 0;
  transform: translateX(-40px);
}

.partners-wrapper .partners-content .list li:nth-child(1){
  transition: transform 0.8s ease-in-out 1.2s, opacity 0.8s linear 1.2s;
}

.partners-wrapper .partners-content .list li:nth-child(2){
  transition: transform 0.8s ease-in-out 1.6s, opacity 0.8s linear 1.6s;
}

.partners-wrapper .partners-content .list li:nth-child(3){
  transition: transform 0.8s ease-in-out 2s, opacity 0.8s linear 2s;
}

.partners-wrapper .partners-content .list li:nth-child(4){
  transition: transform 0.8s ease-in-out 2.4s, opacity 0.8s linear 2.4s;
}

.partners-wrapper .partners-content.active .list li {
  opacity: 1;
  transform: translateX(0);
}

.partners-wrapper .partners-content .contact-wrapper {
  margin-top: 74px;
  display: flex;
  flex-wrap: wrap;
}

.partners-wrapper .partners-content .contact-wrapper .input-wrapper {
  width: 194px;
  height: 38px;
  max-height: 38px;
  padding: 5px;
  background-color: white;
  display: flex;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-right: 21px;
}

.partners-wrapper .partners-content .contact-wrapper .input-wrapper input {
  min-width: 0;
  max-width: 100%;
  width: 100%;
  height: 38px;
  border: none !important;
  margin: 0;
}

.partners-wrapper .partners-content .contact-wrapper .input-wrapper input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.partners-wrapper .partners-content .contact-wrapper .input-wrapper .input-button {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0B9FFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 38px;
  height: 38px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .partners-wrapper {
    justify-content: start;
    height: auto;
  }

  .partners-wrapper .partners-content {
    padding: 72px 64px 115px 64px;
    background-position-x: 15vw;
    padding: 16px;
    background: linear-gradient(to right, black 40%, black 40%, rgba(0, 0, 0, 0.0)), url("../assets/images/iStock_1166272744.png");
  }

  .partners-wrapper .partners-content .contact-wrapper {
    margin-top: 24px;
    justify-content: center;
  }

  .partners-wrapper .partners-content .contact-wrapper .input-wrapper {
    margin-bottom: 24px;
  }
}