.person-wrapper {
  padding: 84px 30px 129px 30px;
  background-color: #FAF8F6;
}

.person {
  max-width: 1146px;
  margin: auto;
  display: flex;
  gap: 54px;
  align-items: center;
  flex-direction: column;
}

.person-row {
  max-width: 622px;
}

.person-text {
  margin-top: 30px;
  margin-bottom: 25px;
}

.person-list {
  margin-top: 0;
  padding-top: 0;
}

.person-image {
  width: 100%;
  max-width: 470px;
  border-radius: 57px;
  margin-left: 54px;
  background: #34B2FF;
  box-shadow: 0px 12px 50px rgba(52, 178, 255, 0.3);
}

.name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #34B2FF;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.status {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #666666;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  .person {
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  .person-image {
    margin-left: 0;
  }

  .person-wrapper {
    padding: 64px 24px;
  }
}