.team-wrapper{
  margin: 95px 30px 0  30px;
}

.team{
  margin: auto;
  display: flex;
  max-width: 1200px;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.team-row{
  display: grid;
  grid-template-columns: repeat(auto-fill, 212px);
  gap: 18px;
  margin-bottom: 67px;
  justify-content: center;
  width: 100%;
}

.team-row .team-tile{
  width: 212px;
  margin: auto;
  margin-top: 33px;
  opacity: 0;
  transform: translateY(30px);
}

.team-row.active .team-tile{
  opacity: 1;
  transform: translateY(0);
}

.team-tile:nth-child(1){
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s linear 0.1s;
}

.team-tile:nth-child(2){
  transition: transform 0.8s ease-in-out 0.4s, opacity 0.8s linear 0.4s;
}

.team-tile:nth-child(3){
  transition: transform 0.8s ease-in-out 0.8s, opacity 0.8s linear 0.8s;
}

.team-tile:nth-child(4){
  transition: transform 0.8s ease-in-out 1.2s, opacity 0.8s linear 1.2s;
}

.team-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #171614;
  margin: 0;
  padding: 0;
  margin-right: 68px;
}

.team-type{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #171614;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  text-underline-offset: 10px;
  margin-top: 10px;
}

.team-photo{
  background-color: #C4C4C4;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: top center;
}

.team-text{
  margin-left: 24px;
}

.team-status{
  color: #0B9FFA;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.team-name{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #171614;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.team-info{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #171614;
  margin: 0;
  padding: 0;
}

.team-section{
  width: 100%;
  max-width: 920px;
}
/* 
@media (min-width: 768px) {
  .team{
    flex-direction: row;
  }
} */

