.testing-wrapper{
  width: 100%;
  background-color: #171614;
  padding: 127px 30px;
  box-sizing: border-box;
}

.testing-wrapper .testing{
  max-width: 1375px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  flex-direction: column-reverse;
}

.testing-wrapper .testing-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testing-wrapper .testing-row .testing-image{
  max-width: 651px;
  border-radius: 83px;
  width: 100%;
}

.testing-wrapper .testing-row .testing-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  color: #0B9FFA;
  transform: translateX(40px);
  opacity: 0;
  transition: transform 0.8s ease-in-out 0.4s, opacity 0.8s linear 0.4s;
}

.testing-wrapper .testing-row.active .testing-title{
  transform: translateX(0);
  opacity: 1;
}

.testing-wrapper .testing-row .testing-subtitle{
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  transform: translateX(40px);
  opacity: 0;
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s linear 0.1s;
}

.testing-wrapper .testing-row.active .testing-subtitle{
  transform: translateX(0);
  opacity: 1;
}

.testing-wrapper .testing-row .testing-text{
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  transform: translateX(40px);
  opacity: 0;
  transition: transform 0.8s ease-in-out 0.8s, opacity 0.8s linear 0.8s;
}

.testing-wrapper .testing-row.active .testing-text{
  transform: translateX(0);
  opacity: 1;
}

.testing-wrapper .testing-row li{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  transform: translateX(40px);
  opacity: 0;
}

.testing-wrapper .testing-row li:nth-child(1){
  transition: transform 0.8s ease-in-out 1.2s, opacity 0.8s linear 1.2s;
}

.testing-wrapper .testing-row li:nth-child(2){
  transition: transform 0.8s ease-in-out 1.6s, opacity 0.8s linear 1.6s;
}

.testing-wrapper .testing-row li:nth-child(3){
  transition: transform 0.8s ease-in-out 2s, opacity 0.8s linear 2s;
}

.testing-wrapper .testing-row li:nth-child(4){
  transition: transform 0.8s ease-in-out 2.4s, opacity 0.8s linear 2.4s;
}

.testing-wrapper .testing-row.active li{
  transform: translate(0);
  opacity: 1;
}

@media (min-width: 1440px) {
  .testing-wrapper .testing{
    gap: 140px;
    flex-direction: row;
  }

  .testing-wrapper .testing-row{
    width: 50%;
    align-items: start;
  }

  .testing-wrapper .testing-row .testing-subtitle{
    width: fit-content;
    text-align: start;
  }
}